.modal {
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--size-2);
	background-color: rgba(var(--color-black), 0.5);
	backdrop-filter: blur(var(--blur));
	top: 0;
	left: 0;
	box-sizing: border-box;

	&-content {
		background-color: rgba(var(--color-white), 1);
		height: 100%;
		width: 100%;
	}
}

.flow {
	height: 100%;
	width: 100%;
}
